<form>
  <h1>Registro</h1>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" type="email" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Nombre" type="text" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" type="password" required />
  </mat-form-field>
  <div class="button-container">
    <button mat-raised-button routerLink="/autentificacion/inicio-sesion">Iniciar Sesion</button>
    <button mat-raised-button routerLink="/panel">Registrarse</button>
  </div>
</form>
